<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eestec.jobfairapp">

    <uses-sdk android:minSdkVersion="11" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/jf"
        android:label="JobFAIR"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MapLocationActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".CompaniesActivity"
            android:label="Partneri"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".NewsDetailsActivity"
            android:label="@string/title_activity_newsdetails"
            android:theme="@style/AppTheme"
            android:parentActivityName=".NewsActivity"/>
        <activity
            android:name=".CompanyDetailsActivity"
            android:label="@string/title_activity_company"
            android:theme="@style/AppTheme"
            android:parentActivityName=".CompaniesActivity"/>
        <activity
            android:name=".ScheduleImageActivity"
            android:label="@string/title_activity_schedule_image"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ScheduleActivity"/>
        <activity
            android:name=".PlanImageActivity"
            android:label="@string/title_activity_plan_image"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ScheduleActivity"></activity>


    </application>

</manifest>